@media (max-width: 768px) {
  /*header logo*/
  .header-top {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .logo img {
    height: 70px;
  }
/*manu*/
  nav {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background: var(--background-white);
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    display: none;
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

  nav.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .submenu-toggle {
    display: inline-block;
  }

  .listing-carousel-item {
    flex: 0 0 100%; 
  }
}
